
* {
	margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
} 
body {
	background-color: #f0f0f0;
	}
.container {
	width: 1100px;
	margin: auto;
	padding-bottom:10px;
	background-color: #FFFFFF;
	overflow: hidden;
	box-shadow: 0px 0px 4px 3px rgb(223, 223, 223);
	}
header {
	width: 100%;
	float:left;
	padding:10px 19px;;
	background-color:#333;
	font-size:22px;
	color:white;
	}
.subContainer{
	height: initial;
	background-color:initial;
	width: 100%;
	float:left;
	padding:10px;
	color:black;
	}
form{
	margin: auto;	
	}
label {
	font-size:14px;
	}
p {
	margin:10px;
	}
button, input[type=submit] {
	padding:0px 10px;
	
	}
.data {font-size:14px; margin:10px;}

table {text-align:left;
border-collapse:collapse;
border:solid 1px #CCC
}
th {padding:5px; background-color:#f0f0f0;}
td {padding:5px; width:120px; }